<%= form_for([:admin, @restaurant]) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@restaurant.errors.count, "error") %>
        prohibited this restaurant from being saved:
      </h2>

      <ul>
        <% @restaurant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-row">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'span12' %>
  </div>
  <div class="control-row">
    <%= f.label :url %>
    <%= f.text_field :url, class: 'span12' %>
  </div>
  <div class="control-row">
    <%= f.label :cuisine do %>
      Cuisine <span>(optional)</span>
    <% end %>
    <%= f.text_field :cuisine, class: 'span12' %>
  </div>
  <div class="control-row">
    <%= f.label :notes do %>
      Notes <span>(optional)</span>
    <% end %>
    <%= f.text_area :notes, class: 'span12' %>
  </div>
  <div class="control-row cf">
    <%= f.submit class: 'btn xlarge green block pull-right' %>
  </div>
<% end %>
