<section>
  <div class="wrapper white-box">

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Cuisine</th>
          <th>URL</th>
          <th>Notes</th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="5">
            <%= link_to 'New Restaurant', new_admin_restaurant_path,
              class: 'btn xlarge green block pull-right' %>
          </td>
        </tr>
      </tfoot>
      <tbody>

        <% @restaurants.each do |restaurant| %>
          <tr>
            <td><%= restaurant.name %></td>
            <td><%= restaurant.cuisine %></td>
            <td>
              <%= link_to 'View Menu &rarr;'.html_safe, restaurant.url,
                target: '_blank' %>
            </td>
            <td><%= truncate restaurant.notes.presence || 'n/a' %></td>
            <td>
              <%= link_to 'Edit', edit_admin_restaurant_path(restaurant),
                class: 'button medium navy' %>
              <%= link_to 'Delete', admin_restaurant_path(restaurant),
                class: 'button medium red', method: :delete,
                data: { confirm: 'Are you sure? '} %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>

  </div>
</section>
