<article class="event">
  <div class="image">
    <h4>
      <date><%= Date::ABBR_DAYNAMES[ order[:date].wday ] %></date>
      <span class="number"><%= order[:date].day %></span>
    </h4>
  </div><!-- .image -->

  <div class="info">
    <h3>
      <%= order[:restaurant] %>
      <em><%= order[:cuisine] %></em>
    </h3>

    <p>
      Lorem ipsum dolor sit amet.
      <%= link_to order[:url], order[:url], target: '_blank' %>
    </p>
    <a class="button orange medium" href="#">Order now</a>
  </div><!-- .info -->
</article><!-- .event -->
