<%= form_for([:admin, @user]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:
      </h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-row">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'span12' %>
  </div>

  <div class="control-row">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'span12' %>
  </div>

  <div class="control-row">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'span12' %>
  </div>

  <div class="control-row cf">
    <%= f.submit class: 'btn xlarge green block pull-right' %>
  </div>
<% end %>
