<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Kitchenette</title>

  <%= stylesheet_link_tag '//litmus.com/stylesheets/style.css' %>
  <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track' => true %>

  <%= javascript_include_tag '//use.typekit.net/zqt8qdp.js' %>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= javascript_include_tag 'application',
    'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body class="<%= body_css_classes %>">

  <header>
    <nav class="global">
      <div class="wrapper">
        <ul>
          <li class="home">
            <%= link_to image_tag("//litmus.com/images/logo.png"), '/' %>
          </li><!-- .home -->
          <li>
            <%= nav_link 'This Week', root_path, 'orders' %>
          </li>
          <li>
            <%= nav_link 'Admin', admin_orders_path, /^admin\// %>
          </li>

          <% if logged_in? %>
            <li class="user"
              title="you're a legend, <%= current_user.first_name %>">
              <%= gravatar_image current_user.email %>
            </li><!-- .user -->
          <% end %>

        </ul>
      </div><!-- .wrapper -->
    </nav><!-- .global -->
  </header>

  <% if controller_path.starts_with?('admin/') %>
    <nav class="secondary">
      <div class="wrapper">
        <ul>
          <li>
            <%= nav_link 'Orders', admin_orders_path,
              'admin/orders' %>
          </li>
          <li>
            <%= nav_link 'Restaurants', admin_restaurants_path,
              'admin/restaurants' %>
          </li>
          <li>
            <%= nav_link 'Users', admin_users_path,
              'admin/users' %>
          </li>
        </ul>
      </div><!-- .wrapper -->
    </nav><!-- .secondary -->
  <% end %>

  <div class="main">
    <%= yield %>
  </div><!-- .main -->

</body>
</html>
